#include <windows.h>
#include "module1.rh"

IDD_DIALOG1_MOD1 DIALOGEX 0, 0, 240, 105
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select a number"
FONT 9, "Segoe UI"
BEGIN
LTEXT "Select a number from 1 to 100:", -1, 10, 10, 215, 12

CONTROL "", IDC_SCROLLBAR_MOD1, "SCROLLBAR",
SBS_HORZ | WS_TABSTOP, 10, 30, 220, 14

LTEXT "Current value:", -1, 10, 53, 75, 12
LTEXT "1", IDC_VALUE_MOD1, 90, 53, 45, 12

DEFPUSHBUTTON "OK", IDOK, 110, 80, 55, 16
PUSHBUTTON "Cancel", IDCANCEL, 175, 80, 55, 16
END
